* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', 'Arial', sans-serif;
    color: #555;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '';
    clear: both;
    display: block;
    height: 0; 
    visibility: hidden;
}

/* Reusable Components */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

i {
    color: #e67e22;
}
/* Header */
.hero-text-box {
    position: absolute;
    width: 1140;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

h1,
h2, 
h3 {
    font-size: 240%;
    text-transform: uppercase;
    font-weight: 300;
}

h1 {
    margin:0;
    margin-bottom: 20px;
    color: #fff;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block; 
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 50px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}
section {
    padding: 80px 0;
}
.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 60px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.main-nav li a:hover, 
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* Paragraphs */

.long-copy {
   line-height: 145%; 
   width: 70%;
   margin-left: 15%;
}

/* Buttons */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 350;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.5s;
}

.btn-full:link, 
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 16px;
}

.btn-full:hover {
    background-color: #b05d14;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #b05d14;
}

.btn-ghost:hover {
    background-color: #b05d14;
    color: #fff;
    
}
.btn:hover, 
.btn:active {
    background-color: #b05d14;
}

/* Links */

a:link, 
a:visited {
  color: #e67e22;  
  text-decoration: none;
  padding: 1px;
  border-bottom: 1px solid #e67e22;
  transition: border-bottom 0.5s, color 0.5s;
}

a:hover, 
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}


/* Features Section */

.box {
    padding: 1%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

.section-features .long-copy {
    margin-bottom: 30px;
}

/* Show Case */

.section-meals {
    padding: 0;
    background-color: #f4f4f4;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.8;
    width: 100%;
    height: auto;
    transform: scale(1.2);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
    transform: scale(1.03);
    opacity: 1;
}

/* How it works */
.section-steps {
    background-color: #f4f4f4;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.phone {
    width: 50%;
}

.works-steps {
    margin-bottom: 50px;
}

.works-steps:last-of-type{
    margin-bottom: 80px;
}

.works-steps .step {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app:link, 
.btn-app:visited {
    border: 0;
}
.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/* Cities */

.cities-img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.cities-features {
    margin-bottom: 5px;
}

/* Customer Testimonials */

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('back-customers.jpg');
    color: #fff;
    background-attachment: fixed;
}

blockquote:before{
    content:"\201C";
}
blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
}
blockquote:after{
    content:"\201D";
}
cite {
    font-size: 90%;
    margin-top: 25px;
}

cite img {
    height: 50px;
    border-radius: 50%;
}

/* Pricing Plans */

.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
}